dist: trusty
sudo: required
language: python
services:
  - mongodb
python:
  - "3.7"
cache:
  - pip
env:
before_install:
    - sudo mkdir /var/huntsman && sudo chmod 777 /var/huntsman
    - cd /var/huntsman
    - git clone https://github.com/huntsman/POCS.git
    - cd POCS
    - pip install -r requirements.txt
    - python setup.py install
    - ln -s $TRAVIS_BUILD_DIR /var/huntsman/POCS
script:
  - coverage run setup.py test
  - coverage combine .coverage*
after_success:
    - if [[ $TRAVIS_PYTHON_VERSION == 3.7* ]]; then
          bash <(curl -s https://codecov.io/bash);
      fi

